.question {
    display: none;
}

.active {
    display: block;
}

.question_submit {
    display: none;
}

.form_id {
    display: none;
}

img {
    max-width: 100%;
}

.form-control {}

.be_logo {
    max-width: 100%;
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 15px;
}

.form-control {
    border-color: black;
}

.form-check-input {
    border-color: #000000;
}

.nextbtn {}

.nextdiv {
    text-align: center;
}

.nextbtn {}

.nextbtn {
    width: 100px;
}

.frlink {
    padding-top: 10px;
}

.title_col {
    padding: 15px;
}

.question_text {}

.question_answer {
    text-align: right!important;
}

.q_row {
    text-align: center!important;
    display: none;
}

.answer_cell {}

.answer_cell {
    font-weight: bold;
}

td {
    width: 50%;
}

div {}

.active-table-row {
    display: table-row;
}

.section-title {
    font-weight: 400;
}